<template>
  <div class="container">
    <header class="header">
      <img src="~/assets/mirenai-logo.png" alt="見れないサイト" width="280" />
    </header>
    <div v-cloak v-if="windowW !== random" class="not-show">
      <div class="inner">
        <p class="text">{{ notShowText }}</p>
        <div class="numberWrapper">
          <p v-cloak class="number">{{ random }}</p>
        </div>
        <div @click="reload()" class="reload">
          <img src="~/assets/reload.svg" alt="reload" width="50" />
        </div>
      </div>
    </div>
    <div v-else class="show">
      <div class="inner">
        <p v-html="showText" class="showText"></p>
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSed7BxSsDPI5JtS8D90zfMAx1izN9NqmY7JMLqN9FlQqOS_nw/viewform?embedded=true"
          width="640"
          height="407"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          >読み込んでいます…</iframe
        >
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */

export default {
  data() {
    return {
      notShowText: '残念、このサイトは見れません。',
      showText:
        '<p>おめでとうございます。あなたはサイトを見ることができました。<br />以下のフォームよりメールアドレスをお送りください。</p>',
      windowW: this.windowWidth,
      random: this.randomNum
    }
  },
  mounted() {
    const windowWidth = document.documentElement.clientWidth
    this.windowW = windowWidth
    const randomNum = Math.floor(Math.random() * windowWidth)
    this.random = randomNum
    // console.log(windowWidth)
    // console.log(randomNum)
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize() {
      if (this.windowW !== this.random) {
        this.random = -9999
      }
      // console.log(this.random)
    },
    reload() {
      location.reload()
    }
  }
}
</script>

<style>
.container {
  width: 100%;
  height: 100vh;
}

.header {
  position: absolute;
  width: 100%;
  padding: 30px;
}

.not-show {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background: #000000;
}

.inner {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  height: 100%;
  text-align: center;
}

.show iframe {
  width: 80%;
}

.text {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.numberWrapper {
  height: 246px;
  display: block;
}

.number {
  margin-bottom: 30px;
  display: block;
  font-size: 180px;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: #ffffff;
}

.showText {
  margin-bottom: 30px;
  font-size: 20px;
  color: #000000;
}

.reload {
  cursor: pointer;
  transition: all 0.3s;
}

.reload::hover {
  opacity: 0.7;
}

.reloadText {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .number {
    font-size: 120px;
  }

  .text {
    font-size: 22px;
  }
}
</style>
